body {
    margin:0;
}

header {
    background-color: rgba(220, 20, 60, 0.651);
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

#transicion {
    background: linear-gradient(
            to right, 
            rgba(0, 0, 0, 1), 
            rgba(0, 0, 0, 1)
        ),
        linear-gradient(
            to right,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1)
        );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 100% 100%, 0% 100%;
    background-size: 100% 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: 400ms;
}

#transicion:hover {
    background-size: 0% 100%, 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
    width: 25vw;
    justify-content: flex-end;
    gap: 13px;
    margin-right: 2%;
}

#titulo {

    font-family: "Sofia";
    font-size: 40px;
    line-height: 15px;
    text-decoration-line:underline;
    margin-left: 1%;
}

main {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:10px;
    background-color: rgb(255, 158, 162);
    margin-top: 0;
    width: 100vw;
}

#info {
    max-width: 50%;
    text-align: justify;
    margin-left: 1%;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 50vw;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nombre {
    font-family: Great Vibes;
    font-size: 40px;
    letter-spacing: 2px;
}

#parrafos {
    font-family: Sofia Sans;
    font-size: 20px;
}

.cuadro {
    border-radius: 20px;
    margin: 5px;
    object-fit: cover;
    outline: 130px solid rgba(0, 0, 0, 0.445);
    outline-offset:-130px;
    transition:0.5s;
}

.cuadro:hover {
    outline: 4px solid pink;
    outline-offset: 5px;
}

a {
    color: black;
    font-family: Bricolage Grotesque;
    font-size: 19px;
}

.final {
    display:flex;
    justify-content: space-between;
    background-color: rgba(255, 158, 161, 0.842);

}

.quote_box {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen_maria_antonieta {
    width: 40vw;
}

img {
    border-radius:10px;
    margin-top: 10px;
    margin-left: 10px;
}

.quote_final {
    align-self: flex-end;
    margin-right: 25%;
}

.quote {
    font-size:40px;
    font-family: Dancing Script;
}