body {
    margin:0;
}

header {
    background-color: rgba(241, 102, 109, 0.8);
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

#enlace {
    color: black;
    font-family: Bricolage Grotesque;
    font-size: 19px;
    background: linear-gradient(
            to right, 
            rgba(0, 0, 0, 1), 
            rgba(0, 0, 0, 1)
        ),
        linear-gradient(
            to right,
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1)
        );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 100% 100%, 100% 100%;
    background-size: 100% 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: 300ms;
}

#enlace:hover {
    background-size: 0% 0%, 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
    width: 25vw;
    justify-content: flex-end;
    gap: 13px;
    margin-right: 2%;
}

#titulo {

    font-family: "Sofia";
    font-size: 40px;
    line-height: 15px;
    text-decoration-line:underline;
    margin-left: 1%;
}

main {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:10px;
    background-color: #ff9ea2;
    margin-top: 0;
    width: 100vw;
}

#info {
    max-width: 50%;
    text-align: justify;
    margin-left: 1%;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 50vw;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nombre {
    font-family: Great Vibes;
    font-size: 40px;
    letter-spacing: 2px;
}

#parrafos {
    font-family: Sofia Sans;
    font-size: 20px;
}

img {
    border-radius: 20px;
    margin: 5px;
    object-fit: cover;
    outline: 130px solid rgba(0, 0, 0, 0.445);
    outline-offset:-130px;
    transition:0.5s;
}

img:hover {
    outline: 4px solid pink;
    outline-offset: 5px;
}

a {
    background-color: linear-gradient (
            to right, 
            rgba(100, 200, 200, 1), 
            rgba(100, 200, 200, 1)
        ),
        linear-gradient (
            to right,
            rgba(255, 0, 0, 0.5),
            rgba(255, 0, 180, 0.5),
            rgba(0, 100, 200, 0.5)
        )
            ;
}